# ========================================
# Visual Studio / .NET
# ========================================
.vs/                   # Configurações locais do Visual Studio
*.user                 # Arquivos de usuário
*.suo                  # Arquivos de solução do usuário
*.userosscache
*.sln.docstates
[Bb]in/                # Binários compilados
[Oo]bj/                # Objetos compilados
[Ll]og/                # Logs
[Tt]est[Rr]esult*/     # Resultados de testes
[Bb]uild/              # Pastas de build
*.dbmdl
*.bak
*.mdf
*.ldf
*.pdb
*.cache
*.coverage*
*.tmp
*.log

# Pacotes NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json

# ========================================
# Angular / Node
# ========================================
node_modules/
dist/
coverage/
*.tgz

# ========================================
# macOS
# ========================================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# ========================================
# Outros arquivos de sistema
# ========================================
Thumbs.db               # Windows
ehthumbs.db
desktop.ini
*.swp                  # Arquivos temporários de editores (Vim, etc.)
*.swo
*.tmp
*.bak
*.orig
