<div class="container-dashboard">
  <div class="dashboard-header">
        <div>
            <h2 class="page-title">Usuários</h2>
            <p class="page-subtitle">{{ totalUsuarios }} Usuários criados...</p>
        </div>
        <div class="dashboard-header-buttons">
            <app-button
                texto="+ Adicionar Filtro"
                size="large"
                type="primary"
                [outlined]="true"
            />
            <app-button
                texto="Novo Usuário"
                size="large"
                type="primary"
                (click)="createUser()"
            />
        </div>
    </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Username</th>
          <th>Email</th>
          <th>Perfil</th>
          <th>Ativo</th>
          <th>Criado em</th>
          <th>Atualizado em</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.name }}</td>
          <td>{{ usuario.username }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ getProfileName(usuario.profile) }}</td>
          <td>
            <span class="badge" [ngClass]="usuario.active ? 'ativo' : 'inativo'">
                {{ usuario.active ? 'Ativo' : 'Inativo' }}
            </span>
          </td>
          <td>{{ formatarDataLocal(usuario.created_At!) }}</td>
          <td>{{ formatarDataLocal(usuario.updated_At!) }}</td>
          <td class="acoes">
            <button matTooltip="Editar usuário" class="btn edit" (click)="executarAcao({ type: 'edit', row: usuario })">
              <mat-icon>edit</mat-icon>
            </button>
            <button matTooltip="Inativar usuário" class="btn delete" (click)="executarAcao({ type: 'delete', row: usuario })">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="btn toogle" (click)="executarAcao({ type: 'toggle', row: usuario })">
              <mat-icon>topic</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-user-edit-dialog
    (fechado)="fecharModal()"
    [user]="usuarioAtual"
    [aberto]="modalAberto">
    </app-user-edit-dialog>
  </div>
  <app-modal-user (formSubmitted)="onFormSubmit($event)"></app-modal-user>
</div>
